<div class="todos" xmlns:v-validate="http://www.w3.org/1999/xhtml">
  <h1>Todo</h1>
  <validator name="validation1">
    <form @submit.prevent="addTodo" novalidate>
      <div class="form-group" v-for="field in fields">
        <label :for="field.id">{{field.label}}</label>
        <input
          type="text"
          class="form-control"
          :id="field.id"
          v-model="newTodo"
          :placeholder="field.placeholder"
          :field="field.name"
          v-validate="field.validate"/>
      </div>
      <div class="form-group">
        <button class="btn btn-success" :disabled="$validation1.invalid">Add</button>
      </div>
    </form>
  </validator>
  <ul class="list-group">
    <li class="list-group-item"
        v-for="todo in todos"
        track-by="$index">
      {{ todo.text }}
       <span class="glyphicon glyphicon-trash pull-right" style="cursor: pointer" @click="removeTodo($index)"></span>
    </li>
  </ul>
</div>
